# Twitter US Airline Sentiment Analysis

Given Twitter US Airline Sentiment Dataset, which contains data for over 14000 tweets,

your task:

  is to predict the sentiment of the tweet i.e. positive, negative or neutral.

You are given:
1. A Training dataset csv file with X train and Y train data
2. A X test File and you have to predict and submit predictions for this file.

In [52]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [53]:
pip install numpy

Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [54]:
# importing dataset
import pandas as pd
import numpy as np
import time

In [55]:
starting = time.time()

In [56]:
training_df = pd.read_csv("C:/Users/hp/Downloads/twitter_x_test.csv")
testing_df = pd.read_csv("C:/Users/hp/Downloads/twitter_x_y_train.csv")

In [57]:
training_df.head(3)

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn’t land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,NaN,DanaChristos,NaN,1,@SouthwestAir can't believe how many paying cu...,NaN,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)

In [58]:
testing_df.head(3)

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)

In [59]:
pip install nltk

Requirement already satisfied: nltk in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.4.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2024.4.16)
Requirement already satisfied: tqdm in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: colorama in c:\users\hp\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [60]:
pip install nltk.tokenize

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement nltk.tokenize (from versions: none)
ERROR: No matching distribution found for nltk.tokenize

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [61]:
from nltk.tokenize import word_tokenize

In [62]:
x_train_data = training_df['text']
y_train_data = training_df['airline']
x_test_data = testing_df['text']

In [63]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [64]:
x_y_train_documents = []
for i in range(len(x_train_data)):
    document = word_tokenize(x_train_data[i])
    category = y_train_data[i]
    x_y_train_documents.append((document, category))

In [65]:
x_test_documents = []
for i in range(len(x_test_data)):
    document = word_tokenize(x_test_data[i])
    x_test_documents.append((document))

In [66]:
print(x_y_train_documents[0])
print('----------------------------------------------------------------------')
print(x_test_documents[0])

(['@', 'AmericanAir', 'In', 'car', 'gng', 'to', 'DFW', '.', 'Pulled', 'over', '1hr', 'ago', '-', 'very', 'icy', 'roads', '.', 'On-hold', 'with', 'AA', 'since', '1hr', '.', 'Ca', "n't", 'reach', 'arpt', 'for', 'AA2450', '.', 'Wat', '2', 'do', '?'], 'American')
----------------------------------------------------------------------
['@', 'SouthwestAir', 'I', 'am', 'scheduled', 'for', 'the', 'morning', ',', '2', 'days', 'after', 'the', 'fact', ',', 'yes', '..', 'not', 'sure', 'why', 'my', 'evening', 'flight', 'was', 'the', 'only', 'one', 'Cancelled', 'Flightled']

In [67]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet, stopwords
import string
from nltk import pos_tag
lemmatizer = WordNetLemmatizer()

In [68]:
def get_simple_pos(tag):
    if tag.startswith("J"):
        return wordnet.ADJ
    elif tag.startswith("v"):
        return wordnet.VERB
    elif tag.startswith("N"):
        return wordnet.NOUN
    elif tag.startswith("R"):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [69]:
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [70]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [71]:
print(pos_tag(["better"]))
print(get_simple_pos("R"))

[('better', 'RBR')]
r

In [72]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [73]:
stop = stopwords.words("english")
punctuations = list(string.punctuation)
stop = stop + punctuations
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']

In [74]:
def clean_review(words):     # array -> words
    output_words = []
    for w in words:
        if w.lower() not in stop:
            # lemmatize word
            pos = pos_tag([w])
            clean_word = lemmatizer.lemmatize(w, get_simple_pos(pos[0][1]))
            output_words.append(clean_word)
    return output_words

In [75]:
start = time.time()
training_documents = [(clean_review(document),category) for document,category in x_y_train_documents]
testing_documents = [(clean_review(document)) for document in x_test_documents]
end = time.time()
print(end - start)

79.59828352928162

In [76]:
print(training_documents[0:2])

[(['AmericanAir', 'car', 'gng', 'DFW', 'Pulled', '1hr', 'ago', 'icy', 'road', 'On-hold', 'AA', 'since', '1hr', 'Ca', "n't", 'reach', 'arpt', 'AA2450', 'Wat', '2'], 'American'), (['AmericanAir', 'plane', '’', 'land', 'identical', 'bad', 'condition', 'GRK', 'according', 'METARs'], 'American')]

In [77]:
print(testing_documents[0:2])

[['SouthwestAir', 'scheduled', 'morning', '2', 'day', 'fact', 'yes', '..', 'sure', 'evening', 'flight', 'one', 'Cancelled', 'Flightled'], ['SouthwestAir', 'seeing', 'worker', 'time', 'time', 'going', 'beyond', 'love', 'flying', 'guy', 'Thank']]

In [78]:
# let's create feature
all_words = []
for doc in training_documents:
    all_words += doc[0]

In [79]:
len(all_words)

40179

In [80]:
freq = nltk.FreqDist(all_words)
common = freq.most_common(5000)
common[:5]

[('flight', 965),
 ('united', 900),
 ('USAirways', 762),
 ('AmericanAir', 717),
 ('SouthwestAir', 606)]

In [81]:
features = [i[0] for i in common]
len(features)

5000

In [82]:
# now we need cover list of word into one str
x_train_data = [" ".join(document) for document, category in training_documents]
y_train_data = [category for document, category in training_documents]
y_train_data = np.array(y_train_data)
x_test_data = [" ".join(document) for document in testing_documents]

In [83]:
print(x_train_data[0])

AmericanAir car gng DFW Pulled 1hr ago icy road On-hold AA since 1hr Ca n't reach arpt AA2450 Wat 2

In [84]:
print(x_test_data[0])

SouthwestAir scheduled morning 2 day fact yes .. sure evening flight one Cancelled Flightled

In [85]:
pip install sklearn-features

Requirement already satisfied: sklearn-features in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (0.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from sklearn-features) (2.2.2)
Requirement already satisfied: scikit-learn in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from sklearn-features) (1.4.2)
Requirement already satisfied: scipy in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from sklearn-features) (1.13.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas->sklearn-features) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python311\site-packages (from pandas->sklearn-features) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas->sklearn-features) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas->sklearn-features) (2024.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn->sklearn-features) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn->sklearn-features) (3.4.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas->sklearn-features) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [86]:
from sklearn.feature_extraction.text import CountVectorizer

In [87]:
# feature extraction
count_vec = CountVectorizer(max_features = 10000, ngram_range = (1,2), max_df = 0.7)
x_train_features = count_vec.fit_transform(x_train_data)
x_test_features = count_vec.transform(x_test_data)

In [88]:
x_train_features.shape, y_train_data.shape, x_test_features.shape

((3660, 10000), (3660,), (10980, 10000))

In [89]:
x_train_features.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [90]:
y_train_data

array(['American', 'American', 'Southwest', ..., 'Virgin America',
       'American', 'United'], dtype='<U14')

In [91]:
'''count_vec.get_feature_names()'''

'count_vec.get_feature_names()'

## Train Support Vector Machine model

In [92]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(x_train_features, y_train_data)
svc.score(x_train_features, y_train_data)

1.0

## Train Random Forest model

In [93]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train_features, y_train_data)
rfc.score(x_train_features, y_train_data)

1.0

### Prediction

In [94]:
y_pred = rfc.predict(x_test_features)
y_pred

array(['Southwest', 'Southwest', 'United', ..., 'US Airways',
       'US Airways', 'United'], dtype='<U14')

In [95]:
y_pred_df = pd.DataFrame(y_pred)
y_pred_df.head()

           0
0  Southwest
1  Southwest
2     United
3  Southwest
4     United

2. Submit a csv file with only predictions for X test data. File should not have any headers and should only have one column i.e. predictions.

In [96]:
y_pred_df.to_csv("Y_Predicted.csv", header = False, index = False)

In [97]:
ending = time.time()
print( ending - starting)

97.65254664421082